body {
    background-color: Plum;
    color: RebeccaPurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
main {
    background-color: rgb(251, 202, 251) ;
    color: RebeccaPurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
}
header {
    background-color: Plum;
    color: Indigo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 14pt;
}
footer {
    background-color: Plum;
    color: Indigo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: right;
    font-style: italic;
}
a {
    color: indigo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: rgb(118, 0, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
a:visited {
    color: rgb(39, 71, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
a:hover {
    color: #0066ff;
    background-color: chartreuse;
    text-shadow: rgba(46, 139, 86, 0.796);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
