body {
    background-color: Plum;
    color: RebeccaPurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
main {
    border: #51285d;
    /*background-color: rgb(191, 125, 191) ;*/
    color: RebeccaPurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 20px 45px;
    padding: 10px;
    transition: 0.3s;
}
main:hover {
    border: #51285d;
    /*background-color: rgb(255, 180, 255);*/
    box-shadow: 0 0 15px #ffcbfb;
    color: RebeccaPurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}
header {
    background-color: Plum;
    color: Indigo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 14pt;
}
footer {
    background-color: Plum;
    color: Indigo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: right;
    font-style: italic;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: indigo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: 1s 0.3s;
}
a:link {
    color: rgb(118, 0, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
a:visited {
    color: rgb(39, 71, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
a:hover {
    color: #0066ff;
    background-color: chartreuse;
    text-shadow: rgba(46, 139, 86, 0.796);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #00ff8496;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    transition: 0.3s;
}
div.menu:hover {
    background-color: rgba(117, 255, 246, 0.664);
    box-shadow: 0 0 15px #498df4;
    transition: 0.3s;
}
h1.z {
    text-align: center;
}